version: '3.1'

services:
  db:
    container_name: db
    env_file:
      - ./backend/.env
    image: postgres:13.4
    ports:
      - "5432:${DATABASE_PORT}"
    environment:
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_DB=${DATABASE_NAME}


  backend:
    container_name: backend
    env_file:
      - ./backend/.env
    build:
        context: ./backend/
    command: sh -c "yarn prisma generate && yarn start"
    volumes:
      - ./backend/:/app
      - /app/node_modules
    depends_on:
      - db
    ports:
      - "4000:4000"

  frontend:
    container_name: frontend
    env_file:
      - ./backend/.env
    build:
      context: ./frontend/
    volumes:
      - ./frontend/:/app
      - /app/node_modules
    depends_on:
      - backend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_SERVER_BASE_URL=${REACT_APP_SERVER_BASE_URL}    
