/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-duration: 0.3s;
}

@layer components {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr repeat(3, 15%);
    grid-template-rows: 1fr;
  }

  .addShadow {
    box-shadow: 0 0 0 2px rgba($color: #8e8cee, $alpha: 0.5);
  }
}