
.full-page-loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(71 66 66 / 22%);
    z-index: 5;
}