
.search-container {
    display: flex;
}

/*Override*/
.search-container .search {
  flex-grow: 2;
}
.search-container .dropdown {
  flex-grow: 1;
}

@media (max-width: 800px) {
    .search-container {
      flex-direction: column;
    }
  }
