
.search {
    display: flex;
    margin: 1rem;
}

.search__dropdown {
    position: relative;
    flex-grow: 2;
}

.search__text-input {
    flex-grow: 2;
    border: 1px solid #ced4da;
    border-right: 0;
    padding: 0.5rem;
}

.search__button {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-left: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.search__dropdown__button {
    height: 60px;
    width: 100%;

    padding: 1.625rem 2.25rem 0.625rem 0.75rem;
    border: 1px solid #ced4da;
    border-right: 0;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;

    word-wrap: normal;
    text-transform: none;
    appearance: none;

    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

.search__dropdown__label {
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 0.75rem;
    padding: 0.75rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    opacity: .65;
}
